<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>spring-hibernate</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
	   <display-name>CXF Servlet</display-name>
	   <servlet-name>CXFServlet</servlet-name>
	   <servlet-class>
	      org.apache.cxf.transport.servlet.CXFServlet
	   </servlet-class>
	   <init-param>
	      <param-name>redirects-list</param-name>
	      <param-value>
	         /
	         /index.html
	      </param-value>
	   </init-param>
	   <init-param>
	       <param-name>redirect-attributes</param-name>
	       <param-value>
	         javax.servlet.include.request_uri
	       </param-value>
	   </init-param>
	   <init-param>
	       <param-name>redirect-servlet-name</param-name>
	       <param-value>default</param-value>
	   </init-param>
	   <load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping>
        <servlet-name>spring-hibernate</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
	   <servlet-name>CXFServlet</servlet-name>
	   <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring-database.xml,    <!-- database objects, i.e DAOs, DB Connector, etc -->
            classpath:spring-service.xml,      <!-- service objects -->
            classpath:rest_service.xml
        </param-value>
    </context-param>
</web-app>